[[monitors.git.repos]]
path = "{{GH_ROOT}}/{{REPO_NAME}}"
name = "{{REPO_NAME}}"
remote = "origin"
github_repo = "{{REPO_GITHUB}}"
emit_commits = false
emit_branch_changes = false
emit_issue_opened = true
emit_pr_status = true
channel = "{{REPO_CHANNEL_ID}}"
